name: test

on:
  push: # {branches: [main]}
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-latest
    container: ingy/exercism-yamlscript-test-runner:0.0.1

    steps:
    - name: Checkout repository
      uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

    - name: Touch all
      run: find * -type f | xargs touch

    - name: Run checks and tests
      run: EXERCISM_YAMLSCRIPT_GHA=1 make check
